body {
  	padding-top: 3.5rem;
  	height: 100%;
  	background-color:#ffe8b6;
}
h1, h3 {
  	color: white;
  	text-align: center;
}
h1 {
	font-size: 90px;
}
h2 {
	font-size: 100px;
	color: white;
	text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
	text-align: left;
	height: 0px;
	/* float: right; */
	width: 70%;
}
p {
  	font-family: verdana;
  	font-size: 25px;
	text-shadow: 0px 1px 35px rgba(0, 0, 0, 1);
}
html {
    scroll-behavior: smooth;
}
a {
	font-size:20px
}

/* BOOTSTRAP CHANGES */
.bg-custom-yellow {
	background-color: #ffe8b6 !important;
  }
.nav-link {
	text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
}
.nav-item {
	color: white;
	font-weight: bold;
}
.navbar-dark .navbar-nav .nav-link {
	color: rgb(255, 255, 255);
}
navbar-brand {
	text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
}
.navbar-dark .navbar-brand {
	color: #fff;
	text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
	font-weight: bold;
}
.navbar-brand {
	 margin-left: 10px;
	 font: verdana;
}


/*banner*/
/* Clear floats after the columns */
.row:after {
  	content: "";
  	display: table;
  	clear: both;
}

/* HOME */
#home {
	background-image: url("../img/background.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 1000px;
    
    object-fit: cover;
    overflow: hidden;
	background-color: #ffe8b6;
}
.hometext{
	font: verdana;
	font-size: 150px;
    letter-spacing: -1px;
    margin: 0 auto 18px auto;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 1);

    position:sticky;
    height: X px;
    width: Y px;
    left:35%;
    top:35%;
    margin-top:- X/2 px;
    margin-left:- Y/2 px;
}

/* ABOUT */
#about {
    background-image: url("../img/background.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 1000px;
    
    object-fit: cover;
    overflow: hidden;
	background-color: #ffe8b6;
	transform: scale(-1, -1);
}

.aboutTitle {
	transform: rotate(180deg);
	height: 73%;
}

/* RESUME */
#resume {
    height: 1000px;
	width: 100%;
	background-image: url("../img/background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.resume-bg {
	/* transform: rotate(180deg); */
	height: 73%;
}
.rightBody {
	float: right;
	width: 60%;
	height: 115%;
	padding-right: 100px;
	padding-top: 100px;
	color: white;
	font: verdana;
	
}

/* PROJECTS */
#projects {
  	height: 1000px;
  	background-color: pink;
}

.centerpic {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 25%;
}



